.Principal{
    background-color: #4a4d4a;
}
.Nombre{
    text-align: center;
}
#l0{
    color: #73a0db;
}

#l1{
    color: #04234b;
}

#l2{
    color: #011b3d;
}

#l3{
    color: #096ef1;
}

#l4{
    color: #7edfff;
}